{% assign certificates = site.data.data.certificates %}
{% if certificates %}
<section class="certificates">
    <h2 class="title">Certificates</h2>
    {% for cert in certificates %}
        <div class="certificates-item">
            <div class="name">
                {% if cert.link %}
                    <a href="{{cert.link}}" target="_blank">{{cert.name}}</a>
                {% else %}
                    {{cert.name}}
                {% endif %}
            </div>
            <div class="company">
                {{cert.company}}
                <span class="time">{{cert.time}}</span>
            </div>
            <div class="details">{{cert.details}}</div>    
        </div>
        
    {% endfor %}
</section>
{% endif %}