.contributions {
    .title {
        @include header;
    }
    .contribution {
        margin-bottom: 20px;
        .contribution-link {
            @include body-text;
            font-weight: bold;

        }
        .details {
            @include body-text;
        }
        .technologies {
            @include body-text;
            font-style: italic;
        }
    }
}